#header {
  height: 72px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#header .header__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .header__tabs-list {
  margin: 0;
  padding: 0;
  display: flex;
}

#header .header__tabs-list li {
  list-style-type: none;
  padding: 0 var(--size-sm);
}

#header .header__tabs-mobile {
  display: none;
}

#header .header__tabs-list li a {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--light-blue);
  text-decoration: none;
}

#header-modal {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  #header {
    height: 44px;
    width: calc(100vw - var(--size-md));
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-xs);
  }

  #header img {
    width: 120px;
    height: 38px;
  }

  #header .header__tabs {
    display: none;
  }

  #header .header__tabs-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: var(--light-blue);
    background-image: url("../../src/image/modal-background.webp");
    background-size: cover;
    transition: all .4s ease-in-out;
  }

  #header-modal .header__options {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #header-modal .icon {
    margin: 10px var(--size-xs);
    align-self: flex-end;
  }

  #header-modal .header__tabs-list {
    margin-top: 60px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  #header-modal .header__tabs-list li {
    margin: var(--size-sm);
    padding: 0;
  }

  #header-modal .header__tabs-list li a {
    color: var(--dark-blue);
  }

  #header-modal span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background: var(--white);
  }
}