#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-blue);
}

#home .home__left-content {
  width: fit-content;
}

#home .home__all-text {
  padding-top: 20dvh;
}

#home .home__text {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  margin: 0;
  display: flex;
  align-items: baseline;
}

#home .home__text h2 {
  margin: 0;
}

#home .home__text h2 {
  font-weight: var(--font-weight-extrabold);
  margin-left: var(--size-quark);
}

#home .home__text:first-child {
  padding-bottom: var(--size-xs);
}

#home .home__button {
  margin-top: 10dvh;
  margin-bottom: 30dvh;
}

#home .home__check-out {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--font-size-lg);
  height: 24px;
}

@media screen and (max-width: 600px) {
  #home {
    flex-direction: column;
  }
  
  #home .home__left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #home .home__all-text { 
    padding-top: 4dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #home .home__button {
    position: absolute;
    width: calc(100% - var(--size-md));
    top: calc(100vh - 72px);
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  #home .home__check-out {
    margin-top: 4dvh;
    width: 152px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #home .home__check-out span {
    display: none;
  }
  
  #home .home__check-out:last-child img {
    margin: 0;
    padding: var(--size-xs) 10px 0 10px;
  }
}