@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --size-quark: 4px;
  --size-nano: 8px;
  --size-xs: 16px;
  --size-sm: 24px;
  --size-md: 32px;
  --size-lg: 40px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-baseline: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --font-family: "Merriweather Sans", sans-serif;

  --dark-blue: #070e3c;
  --dark-blue--hover: #c3c4ce;
  --light-blue: #5bc0eb;
  --blue-cobalt: #1c5a91;
  --white: #f2f2f2;
  --form-placeholder: #9497a9;
  --form-error: #b00020;
  --success: #159515;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: normal;
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

[data-animate] {
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 80vw !important;
  margin-top: 72px;
  padding: 0 var(--size-xs);
}

.logo {
  width: 250px;
  height: 72px;
  cursor: pointer;
}

.icon {
  width: 45px !important;
  height: 45px !important;
  margin: 0 var(--size-nano) 0 0;
}

.image-perfil {
  width: 30vw;
  min-width: 400px;
}

.line {
  background-color: var(--light-blue);
  width: 120px;
  height: var(--size-quark);
  margin: 0 var(--size-xs);
  border-radius: var(--size-nano);
}

.button {
  width: fit-content;
  height: var(--size-lg);
  color: var(--dark-blue);
  background-color: var(--light-blue);
  border: 2px solid var(--dark-blue);
  border-radius: var(--size-nano);
  padding: 0 var(--size-sm);
  font-family: var(--font-family);
  font-size: var(--font-size-baseline);
  font-weight: var(--font-weight-medium);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:active {
  animation: buttonPress 0.2s 1 linear;
}

.button img {
  height: var(--size-sm);
  width: var(--size-sm);
  padding-right: 12px;
}

.badge {
  color: var(--dark-blue);
  background-color: var(--dark-blue--hover);
  border-radius: var(--size-sm);
  padding: var(--size-quark) var(--size-xs);
  transition: 0.4s all;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--light-blue);
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay span {
  color: var(--dark-blue);
  letter-spacing: 14%;
  font-style: italic;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-extrabold);
  transform: rotate(-22deg);
}

.field-error {
  box-shadow: var(--form-error) 0px 1px 2px, var(--form-error) 0px 0px 0px 2px;
}

.label-error {
  color: var(--form-error);
  animation: shakeLabel 0.4s ease-in-out 0s 2;
}

@keyframes shakeLabel {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .image-perfil {
    height: auto;
    width: 60vw;
    min-width: 300px;
  }

  .badge {
    font-size: var(--font-size-xs);
    padding: var(--size-quark) var(--size-nano);
  }

  .overlay {
    width: 80vw;
    height: 40vw;
  }

  .icon {
    width: var(--size-sm) !important;
    height: var(--size-sm) !important;
    margin: 0;
  }
}
