#projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

#projects h2 {
  margin: 0 0 var(--size-md) 0;
  color: var(--light-blue);
  font-size: 48px;
  font-weight: var(--font-weight-extrabold);
  padding-top: 72px;
}

#projects .projects__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .project {
  padding: var(--size-xs) 0;
  border-bottom: var(--size-quark) solid var(--light-blue);
  width: 100%;
}

#projects .project-container {
  max-width: 80vw;
  display: flex;
  gap: var(--font-size-lg);
  padding: var(--size-md) var(--size-md);
  border-radius: var(--size-nano);
  transition: .4s all;
}

#projects .project-container:hover {
  background-color: var(--dark-blue--hover);
}

#projects .project-container:hover .badge {
  background-color: var(--white);
}

#projects .project-container:hover .github-icon > img {
  background: var(--white);
}

#projects .project-container .github-icon > img {
  display: inline-block;
  height: fit-content;
  border-radius: 50%;
  transition: 0.4s all;
}

#projects .project-container > a {
  position: relative;
  height: 180px;
}

#projects .project-container > a:hover .overlay { 
  opacity: 0.8;
}

#projects .project-container h3 {
  color: var(--dark-blue);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

#projects .project-container p {
  color: var(--dark-blue);
  min-height: 100px;
  font-size: var(--font-size-baseline);
}

#projects .project__text-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#projects .project__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#projects .project__badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xs);
}

#projects .project__preview {
  width: 360px;
  transition: .4s all;
  width: 360px;
  height: 180px;
}