@import "tailwindcss";

:root {
  --background: #161413;
  --foreground: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --page-width: 1200px;
}

@layer utilities {
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes bounce-x {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 0.3;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.1);
    }
  }

  @keyframes float-slow {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .animate-slideInRight {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .animate-slideOutRight {
    animation: slideOutRight 0.3s ease-in forwards;
  }

  .animate-arrow-bounce {
    display: inline-block;
    animation: bounce-x 1s infinite;
  }

  .animate-pulse-slow {
    animation: pulse-slow 8s ease-in-out infinite;
  }

  .animate-float-slow {
    animation: float-slow 14s ease-in-out infinite;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 
.dark-theme {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppi-sans), sans-serif;
}

@keyframes carousel-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  85% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-10%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%) scale(0.95);
  }
}

.whatsapp-animated {
  animation: wiggle 4s ease-in-out infinite;
}

.whatsapp-animated:hover {
  animation: none;
}
.custom-scrollbar {
  scrollbar-color: var(--color-foreground) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-foreground);
  border-radius: 50px;
  transition: background-color 0.2s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-foreground-hover, #aaa);
}

.animate-enter {
  animation: enter 300ms ease-out forwards;
}

.animate-leave {
  animation: leave 300ms ease-in forwards;
}
