#footer {
  display: flex;
  align-content: center;
  color: var(--dark-blue);
  width: 80vw !important;
}

#footer span {
  height: 64px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}